.forgot-password-container {
  width: 300px;
  height: auto;
  background-color: #fff;
  padding: 30px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.forgot-password-container h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.forgot-password-container .email-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.forgot-password-container .email-input {
  height: 30px;
  padding: 5px;
  font-size: 1rem;
}

.forgot-password-container .back-to-login {
  text-decoration: none;
  color: blue;
  margin-right: 10px;
}


.forgot-password-container .send-button:hover {
  background-color: #645ef7;
}

.forgot-password-container .sign-up-link {
  text-decoration: none;
  color: blue;
  margin-right: 10px;
}
.forgot-password-container.login-button{
background-color: azure; 

.forgot-password-container.email-input-error {
  border: 1px solid red;
}

.email-error-message {
  color: red;
  font-size: 14px;
  margin: 0;
  margin-top: 5px;
};
}
