.container {
  display: flex;
  flex-direction: column;
  
  height: 100%; 
  width: 100%;
  padding-top: 10px;/* Make the container full screen */
}



.main-side {
  flex: 4; /* Take up half of the screen */
  background: linear-gradient(180deg, #BEBAFB 0.93%, #6C63FF  48.98%, #4539FF 71.76%, #2B1EFC 100%);
  display: flex;
  padding-top : 60px ;
  margin-bottom: 0%;
  padding-bottom: 20px;

   /* Center items vertically */
}

.white-box {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: 25%;
  width: 800px;
  height: 400px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 15%; 
  /* Add this to distribute space between children */
}

.inner-box1 {
  border-radius: 25px;
  width: 500px;
  height: 80px;
  background-color: #9999;
  border: 1px solid #9999;
  text-align: left;
  padding-left: 30px;
  padding-bottom: 20px;
  padding-top: 40px;
  

}


.personalization{
  width:250px;
  color: white;
  height: 60px;
  border-radius: 25px;
  font-size:25px;
  font-weight:30px;
  background-color:#2B1EFC;
  border-color:    #2B1EFC ;}