.container {
  display: flex;
  height: 100vh; /* Adjust as needed */
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 0 200px; /* Flex-grow: 0, Flex-shrink: 0, Flex-basis: 200px */
  background: linear-gradient(180deg, #BEBAFB 0.93%, #6C63FF 48.98%, #4539FF 71.76%, #2B1EFC 100%);
  /*border-right: 01px solid #ccc; /* Adding border to identify */
  padding: 40px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.sheader {
  display: flex;
  margin-top: 25px;
  justify-content :flex-start; /* Align items to the left */
  align-items: center; /* Center vertically */
  padding: 10px;
  padding-right: 50px;
  background: #FFFFFF;
  border-radius: 45px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration-color:#524E4E; 
  font-size: medium;
  font-weight: bold;
  }

.captain-logo {
  background-image: url('/src/components/images/cap.png'); /* Specify the path to your image */
  background-size: contain; /* Adjust the size of the background image */
  background-repeat: no-repeat; /* Ensure the image is not repeated */
  width: 50px; /* Adjust the width of the logo */
  height: 50px; /* Adjust the height of the logo */
}

.captain-text {
  margin-left: 10px; /* Add margin to separate the text from the logo */
}

.sidebar-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  margin-top: 40px;
  }

.option {
  display: flex; /* Change display to flex */
  align-items: center; /* Align items vertically */
  padding: 15px 25px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: transparent; /* Set background color to transparent by default */
  border: none; /* Remove any border */
  outline: none; /* Remove outline */
  font-size: 16px; /* Adjust font size */
  color: white; /* Set text color */
  transition: background-color 0.3s ease;
  width: 200px; 
  text-align: center;
  font-size:medium;
  font-weight: bold;
  align-items: center;
}

.option img {
  width: 30px; /* Adjust image size */
  margin-right: 10px; /* Add space between image and text */
  transition: filter 0.3s ease, mix-blend-mode 0.3s ease;; /* Apply transition to the image filter */
}

.option span {
  font-size: 16px; /* Adjust font size */
  color: white; /* Set text color */
  transition: color 0.3s ease; /* Apply transition to text color */
}

.option:hover {
  background-color: rgba(255, 255, 255, 0.9); /* Change background color on hover with opacity */
  border-radius: 40px;
}


.option:hover img {
  filter: grayscale(100%) brightness(70%); /* Convert image to grayscale and reduce brightness on hover */
  mix-blend-mode: luminosity; /* Apply mix-blend-mode to make white areas grey */
}

.option:hover span {
  color: #524E4E; /* Change text color to grey on hover */
}

.sign-out-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  top: 866px;
  left: 66px;
  bottom: 20px;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 15px;
  background: #00000033;/*background-color: rgba(255, 255, 255, 0.3); /* Mild color with transparency */
  text-align: center;
  font-size:medium;
  font-weight: bold;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sign-out-button img {
  width: 30px;
  margin-right: 10px;
}

.sign-out-button span {
  color:white;
}

.sign-out-button:hover {
  background-color: rgba(255, 255, 255, 0.5); /* Darker color on hover */
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Takes remaining space */
  padding-top: 10px; /* Example of top padding */
  padding-right:35px; /* Example of right padding */
  padding-bottom: 10px; /* Example of bottom padding */
  padding-left: 0px; /* Example of left padding */
  justify-content: space-around; /* Add space around the box */
  background: linear-gradient(90.37deg, #A59FFF 36.1%, #6C63FF 62.64%, #2C1FFD 100%);
  
  

}

.header {
  margin-top: 20px;
  background-color: #D9D9D9; /* Background color inside the box */
  padding: 12px;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow */
  justify-content: space-around;
  width: 100%;
  text-align: center;
  font-size: medium;
  font-weight: bold;
  align-items: center;
}

.box {
  background-color: #ffffff; /* Background color inside the box */
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow */
  padding-top: 10px; /* Example of top padding */
  padding-right:150px; /* Example of right padding */
  padding-bottom: 10px; /* Example of bottom padding */
  padding-left: 200px; /* Example of left padding *//* Padding inside the card */
}

.text-fields {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align items horizontally */
  margin-top: 10px; /* Add space between header and text fields */
}

input[type="text"] {
  margin-top: 15px;
  margin-bottom: 18px;
  border-radius: 15px;
  width: 50%; /* Adjust width of the text boxes */
  padding: 8px;
  box-sizing: content-box;
}
.button-container {
  display: flex;
  justify-content: center; /* Center buttons */
  margin-top: 20px;
}

.button1 {
  margin: 0px 90px; /* Adjust margin between buttons */
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #524E4E;
  ;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button2 {
  margin: 0px 90px; /* Adjust margin between buttons */
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #D5603B;
  ;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}