.container {
  display: flex;
  height: 100vh;
  margin: 0; 
}
.dashboard {
  display: flex;
}
body{
  justify-content: left;
  align-items: left;

}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 0 200px;
  background: linear-gradient(180deg, #BEBAFB 0.93%, #6C63FF 48.98%, #4539FF 71.76%, #2B1EFC 100%);
  padding: 40px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.sheader {
  display: flex;
  margin-top: 25px;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  padding-right: 50px;
  background: #FFFFFF;
  border-radius: 45px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration-color: #524E4E;
  font-size: medium;
  font-weight: bold;
  height: 100%;
}
.box2 {
  
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  width: 500px;
  height: 500px;
  background-color: #9999;
  border: 1px solid #9999;
  align-items: center;
  padding-bottom: 20px;
  margin-left: 130px;

}

.captain-logo {
  background-image: url('/src/components/images/cap.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.captain-text {
  margin-left: 10px;
}

.sidebar-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
}

.option {
  display: flex;
  align-items: center;
  padding: 15px 25px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: white;
  transition: background-color 0.3s ease;
  width: 200px;
  text-align: center;
  font-size: medium;
  font-weight: bold;
  text-decoration: none;
}

.option img {
  width: 30px;
  margin-right: 10px;
  transition: filter 0.3s ease, mix-blend-mode 0.3s ease;
}

.option span {
  font-size: 16px;
  color: white;
  transition: color 0.3s ease;
 
}

.option:hover {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 40px;
}

.option:hover img {
  filter: grayscale(100%) brightness(70%);
  mix-blend-mode: luminosity;
}

.option:hover span {
  color: #524E4E;
}

.sign-out-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  top: 866px;
  left: 66px;
  bottom: 20px;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 15px;
  background: #00000033;
  text-align: center;
  font-size: medium;
  font-weight: bold;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sign-out-button img {
  width: 30px;
  margin-right: 10px;
}

.sign-out-button span {
  color: white;
}

.sign-out-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
  width: 1022px;
  justify-content: space-around;
  padding-top: 10px; 
  padding-right:35px; 
  padding-bottom: 10px; 
  padding-left: 0px; 
  background: linear-gradient(90.37deg, #A59FFF 36.1%, #6C63FF 62.64%, #2C1FFD 100%);
  
}
.header {
  margin-top: 20px;
  background-color: #D9D9D9;
  padding: 12px;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  justify-content: space-around;
  width: 100%;
  text-align: center;
  font-size: medium;
  font-weight: bold;
  align-items: center;
}

.box {
  background-color: #ffffff;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 200px;                                                                      
  margin-left: -50px;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 100%;
}

.text-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

input[type="text"] {
  margin-top: 15px;
  margin-bottom: 18px;
  border-radius: 15px;
  width: 50%;
  padding: 8px;
  box-sizing: content-box;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button1 {
  margin: 0px 90px;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #524E4E;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button2 {
  margin: 0px 90px;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #D5603B;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color
}