.cmain-content{
    
        display: flex;
        flex-direction: column;
        flex-grow: 1; 
        width: fill;
        height: cover;
        justify-content: space-around;
        padding-right:35px; 
        padding-left: 0px; 
        background: linear-gradient(90.37deg, #A59FFF 36.1%, #6C63FF 62.64%, #2C1FFD 100%);
          
}

.wbox{
    
        display: flex;
        
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
        padding-right: 50px;
        background: #FFFFFF;
        border-radius: 45px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-decoration-color: #524E4E;
        font-size: medium;
        font-weight: bold;
        height: 100%;
      
}
.selection{
        width: 290px;
        height: 270px;
        background-color: #E1E1E1;
        position: absolute;
        margin-top: 6%;
        border-radius: 25px;
      }
      .selection button{
        margin-top: 48.5%;
        margin-left: 7%;
        border-radius: 25px;
        border: none;
        outline: none;
        background-color: #6C63FF;
        color: white;
      }
      .selection button:hover{
        background-color: #4539FF;
      } 
      .box img{
        margin-left: 49%;
        margin-top: 10%;
      }
      #rol5{
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
        background-color: white;
        border-top-right-radius: 30px;
        text-align: center;
        height: 70px;
        margin-top: 10px;

      }
      #rol5 h4{
        color: #524E4E;
        font-size: 15px;
        letter-spacing: 1px;
        padding-top: 1.4%;
      }