.wbody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #c1c1c165;
    
}

.container {
    display: flex;
    margin-left: -120px;
    justify-content: center;
}

.ellipse1,
.ellipse2 {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    filter: blur(2px);
    z-index: -1;
    /* Adjust the blur radius as needed */
}


.ellipse1 {
    position: absolute;
    top: 0px;
    right: 10px;
    width: 400px;
    height: 400px;
    background-color: #6C63FF;
    border-radius: 50%;
    
}

.ellipse2 {
    position: absolute;
    bottom: -00px;
    left: -120px;
    width: 400px;
    height: 400px;
    background-color: #D64B38;
    border-radius: 50%;
}       

.container1 {
    width: 380px;
    height: 320px;
    border-radius: 12px;
    background-image: linear-gradient(180deg, #13075486 0%, #3b2f808a 100%);
    color: white;
    margin: 20px;
    margin-left: 110px;
    margin-top: 180px;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    
}

.container2 {
    width: 220px;
    height: 120px;
    border-radius: 12px;
    background-image: linear-gradient(180deg, #13075473 0%, #3b2f8073 100%);
    color: white;
    margin-top: 180px;
    padding-block-end: 30px;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    
}


.container3 {
    width: 220px;
    height: 125px;
    border-radius: 12px;
    background-image: linear-gradient(180deg, #130754 0%, #3b2f80 100%);
    color: white;
    margin-top: 340px;
    margin-left: -220px;
    padding-block-end: 30px;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    
}

.container4 {
    width: 370px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    margin-left: -410px;
    padding-top: 20px;
    padding-left: 280px;
    margin-top: 70px;
    cursor: pointer;
    background-color: #7d7575;
}
.login-button
{
    text-decoration: none;
    color: white;
    text-align:justify;
    width: 700px;
    height: 55px;
    margin-top: -17px;
    margin-left: -280px;
    border-radius: 25px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    padding-top: 15px;
}

.container4:hover {
    background-color: #2f29a3;
}

.weather-image1 {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.weather-image2 {
    justify-content: center;
}

.weather-image3 {
    padding-top: 25px;
    justify-content: center;
}

.port-image {
    margin-top: 17px;
    display: flex;
    justify-content: left;
    padding-top: 0px;
    padding-left: 5px;
}

.weather-temp {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 50;
}

.weather-location1 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 100;
}

.weather-location2 {
    display: flex;
    justify-content: center;
    padding-top: -20px;
    font-size: 30px;
    font-weight: 100;
}

.data-container {
    margin-top: 50px;
    display: flex;
    padding-top: -0px;
    justify-content: center;
}

.element {
    margin: auto;
    padding-top: -40px;
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 50;
    gap: 12px;
}

.data {
    font-size: 20px;
    font-weight: 200;
}

.text {
    font-size: 14px;
    font-weight: 150;
}

.port-call {
    font-size: 20px;
    padding-top: 8px;
    padding-left: 20px;
    font-weight: 200;
}

.icon {
    width: 20px;
    height: 20px;
}