.container {
  display: flex;
  height: 100vh; /* Make the container full screen */
}

.blue {
  flex: 1; /* Take up half of the screen */
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(165,159,255,1) 35%, rgba(108,99,255,1) 69%, rgba(44,31,253,1) 100%);
  
}

.green {
  flex: 4; /* Take up half of the screen */
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(165,159,255,1) 35%, rgba(108,99,255,1) 69%, rgba(44,31,253,1) 100%);
  display: flex;
   /* Center items vertically */
}

.green-inner {
  display: flex;
  flex-direction: column; 
  padding-top: 60px;
  padding-left: opx;/* Stack boxes vertically */
}

.box {
  border-top-right-radius: 30px ;
  border-bottom-right-radius: 30px;
  width: 1000px;
  height: 550px;
  background-color: white;
  border: 1px solid black;
 
 
}
